name: PHPUnit

on:
  pull_request:
    paths: '**.php'

jobs:
  test:
    runs-on: ubuntu-latest
    services:
      redis:
        image: redis:6.2.4
        ports:
          - 6379:6379
        options: --health-cmd "redis-cli -h localhost ping" --health-interval 10s --health-timeout 5s --health-retries 15
        env:
          REDIS_HOST: redis
          REDIS_PORT: 6379
    steps:
      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: '5.6'
          extensions: json, redis
          tools: phpunit:4.4.5
      - uses: actions/checkout@v2
        with:
          fetch-depth: 1

      - name: Get Composer Cache Directory
        id: composer-cache
        run: |
          echo "::set-output name=dir::$(composer config cache-files-dir)"
      - name: Cache composer modules
        uses: actions/cache@v2
        env:
          cache-name: cache-composer-modules
        with:
          path: ${{ steps.composer-cache.outputs.dir }}
          key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ hashFiles('composer.lock') }}
          restore-keys: |
            ${{ runner.os }}-composer-
      - name: composer install
        run: |
          composer install -n --prefer-dist --no-progress

      - name: Run test suite
        run: vendor/bin/phpunit
        env:
          REDIS_HOST: redis